<?xml version="1.0"?>
<launch>

  <node name="ft_calib" pkg="force_torque_sensor_calib" type="ft_calib_node" cwd="node" respawn="false" output="screen" >
    <rosparam command="load" file="$(find force_torque_sensor_calib)/config/pr2_ft_calib_params.yaml"/>
    <remap from="/ft_calib/ft_raw" to="/ft2"/>
    <remap from="/ft_calib/imu" to="/accelerometer/r_gripper_motor" />
  </node>
</launch>
